<%= form_with(model: @offer,local: true, url: choose_new_or_edit) do |form| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= @offer.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="offer_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="offer_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="offer_image">
    <%= form.label :image %>
    <%= image_tag(@offer.image.url) if @offer.image.url %>
    <%= form.file_field :image, id: :offer_image  %>
  </div>
  <div class="offer_address">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <div class="offer_start">
    <%= form.label :start %>
    <%= form.date_field :start %>
  </div>
  <div class="offer_end">
    <%= form.label :end %>
    <%= form.date_field :end %>
  </div>
  
  <%= form.submit %>
<% end %>

<%= link_to "オファー一覧画面にもどる", offers_path %>
