<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @offer, url: offers_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
   <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :address %>
  <%= form.hidden_field :start %>
  <%= form.hidden_field :end %>
  
  <p>タイトル:<%= @offer.title %></p>
  <p>本文:<%= @offer.content %></p>
  <%= image_tag(@offer.image.url) %>
 
  <p>場所:<%= @offer.address %></p>
  <p>始まり:<%= @offer.start %></p>
  <p>終わり:<%= @offer.end %></p>
  
  <%= form.submit  "登録する" %>
<% end %>

<%= form_with(model:@offer, url:new_offer_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "戻る", name: "back" %>
<% end %>